h1{
    color: red;
}

p{
    color: blueviolet;
}

p ~ p{
    color: orange;
}

*{
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
    padding: 0px;
    color: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2::first-letter,h1::first-letter{
    font-weight: 700;
}

::selection{
    color: antiquewhite;
    background-color: brown;
}